<ion-header>

  <ion-navbar color="primary">
    <ion-title>Adicionar Item a lista</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input [(ngModel)]="item.name" placeholder="Macarrão"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Quantidade</ion-label>
      <ion-input [(ngModel)]="item.quantity" type="number" placeholder="1"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Preço</ion-label>
        <ion-input [(ngModel)]="item.price" type="number" placeholder="R$3,50"></ion-input>
      </ion-item>

      {{item | json}}

      <button ion-button block (click)="addItem(item)"> Add</button>
</ion-content>
